[submodule "src/alpm"]
	path = src/alpm
	url = https://github.com/demizer/go-alpm.git
[submodule "src/logger"]
	path = src/logger
	url = https://github.com/demizer/go-logger.git
[submodule "src/aur"]
	path = src/aur
	url = https://github.com/demizer/go-aurjson.git
